* {
    font-family: "FiraCode Nerd Font";
    background-image: none;
    box-shadow: none;
    border: none;
}

window {
    background: rgba(15, 16, 20, 0.75);
}

button {
    color: #d3d5de;
    background: rgba(67, 68, 77, 0.65);
    border-radius: 0;
    margin: 10px;
    transition: all 0.2s ease-in-out;
}

button label {
    font-size: 160px;
    padding: 0px 0px 50px 0px;
}

button:hover {
    background: rgba(87, 88, 97, 0.7);
    color: #f0f2f8;
}

button:focus {
    outline: none;
}

#decor1 {
    background-image: url("assets/image1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    padding: 0;
}

#decor2 {
    background-image: url("assets/image2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
    padding: 0;
}
