* {
    font-family: "FiraCode Nerd Font";
    font-size: 60px;
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(15, 16, 20, 0.85);
}

button {
    color: #d3d5de;
    background-color: rgba(67, 68, 77, 0.6);
    border-radius: 2px;
    margin: 10px;
    padding: 20px;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(87, 88, 97, 0.9);
    color: #f0f2f8;
}

button:focus {
    outline: none;
}

#decor1 {
    background-image: url("assets/image1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}

#decor2 {
    background-image: url("assets/image2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    color: transparent;
}
